name: Deploy Kubernetes Manifests

on:
  push:
    branches:
      - main
    paths:
      - "manifest/**"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::381491966185:role/GitHubActionsEKSDeployRole
          aws-region: ap-southeast-3

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name dana-jagoan-neon-eks \
            --region ap-southeast-3

      - name: Deploy manifests
        run: |
          kubectl apply -f manifest/

